@media screen and (max-width: 1400px){
    #profile{
        height: 60vh;
        margin-top: 1rem;
    }

    #OrbitalM{
        height: 60vh;
        margin-top: 1rem;
    }
    #AirplaneD{
        height: 95vh;
        margin-top: 1rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #OrbitalM,
    #InstrumentB {
      height: fit-content;
    }
}
@media screen and (max-width: 1350px){
    #profile {
        height: 90%;
        margin-bottom: 1rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #Thesis, 
    .experience-details-container {
        margin-top: 5rem;
        height: fit-content;
    }
    /* #profile,
    .section-container {
        display: block;
    } */
    .arrow {
        display: none;
    }
    /* section, .section2, .section-container2, .section-container3 {
        height: fit-content;
        flex-direction: row;
    } */
     img{
        height: 100%;
        transform: scale(1.5);
     }
    .section-container{
        display: flex;
        flex-direction: column;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container, .section__pic-container2 {
        /* width: auto; */
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 5rem;
    }
    .text-container {
        text-align: justify;
        height: auto;
        width: auto;
    }
    .about-containers {
        margin-top: 0;
        padding-top: 5rem;
    }
    .section__vid-container{
        display: flex;
        justify-content: center;
        height: auto;
        width: auto;
        margin: auto auto;
        
    }
    .section-container3{
        display: flex;
        justify-content: center;
        margin: auto auto;
        gap: 10rem;
    }

    .section2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* width: 90%; */
    }
}

@media screen and (max-width: 840px) {
    #contact, footer{
        height: 40vh;
    }
    #profile {
        height: 90%;
        margin-bottom: 1rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: chartreuse; */
        min-width: 400px ;
    }
    .section2{
        margin: 0;
    }

    section, .section-container {
        justify-content: center;
        height: fit-content;
        width: fit-content;
        flex-wrap: wrap;
    }
    section {
        margin: 0 5%;
    }
    article {
        font-size:  1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vh;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    
}
